<h1>New Article</h1>

<%= form_with url:"/blogger" ,method: :post ,model: @blog do |form| %>
  <div>
    <%= form.label :username %><br>
    <%= form.text_field :name %>
    <% @blog.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
      <% end %>
      
  </div>

  <div>
    <%= form.label :article %><br>
    <%= form.text_area :article %>
    <% @blog.errors.full_messages_for(:article).each do |message| %>
      <div><%= message %></div>
      <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
