<h1>New Article</h1>

<%= form_with url:"/blogger" ,method: :post ,model: @blog do |form| %>
  <div>
    <%= form.label :username %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :article %><br>
    <%= form.text_area :article %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
